@import 'variables';

main{
    position: relative;
}
.counter-app{
    background: map-get($map: $colors, $key:primary );
    height: 100vh;
    -webkit-clip-path: polygon(1% 15%, 100% 0, 100% 100%, 0 75%);
clip-path: polygon(1% 15%, 100% 0, 100% 100%, 0 75%);

    @include center();

    .dark-overlay{
        
    padding-top: 100px;
    }
}

.d-flex{
    // justify-content: center;
    

    button{
        @extend .btn-1;
    }
}

.footer{
    @include footer();
}